header {

  position: fixed;
  z-index: 998;
  width: 100%;
}

/* hamburger styles start */

/* input checkbox not visible */

.nav-toggle {
  display: none;
}

/* three lines visible */

label {
  position: absolute;
  top: 2rem;
  right: 0;
  margin-right: 2em;
  cursor: pointer;
  height: 2px;
  width: 2.2em;
  background-color: #333333;
  transition: all 0.6s cubic-bezier(1,0,0,1);
}

  label::before,
  label::after {
    content: '';
    transition: all 0.6s cubic-bezier(1,0,0,1);
    height: 2px;
    width: 2.2em;
    background-color: #333333;
    position: absolute;
    display: block;
  }

  /* hamburger animation start */

  label::before {
    bottom: 7px;
    transform-origin: left top;
    transform: rotateZ(0deg);
  }

  label::after {
    top: 7px;
    transform-origin: left bottom;
    transform: rotateZ(0deg);
  }

#nav-toggle:checked ~ label {
  background-color: rgba(255, 255, 255, 0);
}

#nav-toggle:checked ~ label::before {
  transform: rotateZ(41deg);
}

#nav-toggle:checked ~ label::after {
  transform: rotateZ(-41deg);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* hamburger animation end */

/* hamburger style end */

/* global navigation styles start */

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav li {
  margin-top: 1em;
  margin-bottom: 1em;
}

nav a {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.current {
  font-weight: bold;
  border-top: .2rem solid #4158D0;
  padding-top: 5px;
}

/* end change states styles */

.logo {
  /* height: 4.293rem; */
  width: 2.5rem;
  /* width: 3.3rem; */
  height: 100%;
  margin-bottom: .5rem;
  margin-top: .25rem;
  display: flex;
  align-items: center;
}

.logo:hover {
  border-top: 0;
  padding-top: 0;
}

/* global navigation styles end */


/* desktop and tablet styles start */

@media screen and (min-width: 768px) {
  label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 4rem auto minmax(600px, 3fr) 4rem;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }
   }

 /* desktop and tablet styles end */


/* mobile styles start */

@media screen and (max-width: 768px) {
 .logo {
   margin-top: .5rem;
   margin-left: 1rem;
  }

  nav {
    height: 100vh;
  }

  nav li {
    margin-top: 5em;
  }
}

/* mobile styles end */


/* footer styles start*/

.background2 {
  background-color: #555459;
}

.footer-grid p {
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0rem 0rem 0rem;
}

.bottom-nav a:hover {
  border-top: none;
}

.square {
  color: #fff;
  font-size: 4rem;
  margin: 0rem 1rem;
}

.cc {
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
}

.cc p {
  font-size: 1.2rem;
}

/* footer styles end */
