header {
  background-color: white;
  border-bottom: solid 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(43deg, #4158D0 0%, #C850C0 50%, #ffffff 100%);
}

/* hero unit */

.hero-image {
  /* background-image: url(../images/homepage/hero-image.svg);
  background-repeat: no-repeat;
  background-size: contain; */

  /* background-color: #4158D0;
  background-image: linear-gradient(30deg, #4158D0 0%, #C850C0 15%, #F3D8F3 40%, #ffffff 100%); */
  z-index: 0;
}

.content {
  position: relative;
}

.hero-container {
  display: grid;
  grid-template-columns: 8rem 2fr auto 3fr;
  height: 530px;

  /* align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 10rem;
  text-align: center;
  width: 70%; */
}

.hero-text {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 10rem;
  display: grid;
  grid-template-rows: 9rem 8rem 2rem 5rem;
  grid-gap: 2rem;
}

.hero-text h1 {

}

.hero-text h6 {
  /* grid-column: 1 / 3; */
  grid-row: 2 / 3;
}

.hero-text button {
  /* grid-column: 1 / 3; */
  grid-row: 4 / 4;
  width: 20rem;
}

.arrow-down-wrapper {
  grid-column: 3 / 4;
  grid-row: 2 / 2;
  /* place-self: center; */
  justify-self: stretch;
}

.hero-image {
  grid-column: 4 / 4;
  grid-row-start: 1;
  grid-row-end: span 2;
  place-self: end;
  /* background-image: url(../images/homepage/hero-image.svg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.headshot {
  /* padding-top: 2rem; */
  width: 40rem;
  height: auto;
}

/* .link-down {
  width: 180px;
  margin: 0 auto;
} */

.arrow-down:hover {
  border-top: 0;
  padding-top: 0;
}

/* work section */

.background {
  position: relative;
  z-index: 1;
}

.project-wrapper {
  padding: 2rem;
  max-width: 70rem;
  margin: auto;
}

.project {
  background-color: #fff;
  display: grid;
  margin: 5rem 0 10rem;
  padding: 4rem;
  border-radius: .5rem;

}

.project-description {
  align-self: center;
  max-width: 40rem;
}

@media screen and (min-width:600px) {
 .project {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

  }

  .project:nth-of-type(even) img {
    grid-column: 2;
    grid-row: 1
  }

  .project:nth-of-type(even) .project-description {
    grid-column: 1;
    grid-row: 1
  }
}

.ios-img {
  max-width: 16rem;
}

.macbook-img {
  max-width: 40rem;
  width:100%;

}

.project-wrapper h4 {
  margin-bottom: 0;
}

.project-wrapper h2 {
  margin: 1rem 0;
}

.project-wrapper p {
  margin: 1rem 0 3rem;
}

.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
