/* hero unit */

.hero-image {
  background-color: #4158D0;
  background-image: linear-gradient(30deg, #4158D0 0%, #C850C0 15%, #F3D8F3 40%, #ffffff 100%);
  z-index: 0;
}

.content {
  position: relative;
}

.hero-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 530px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 10rem;
  text-align: center;
  width: 70%;
}

.link-down {
  width: 180px;
  margin: 0 auto;
}

.arrow-down:hover {
  border-top: 0;
  padding-top: 0;
}

/* work section */

.background {
  position: relative;
  z-index: 1;
}

.project-wrapper {
  padding: 2rem;
  max-width: 70rem;
  margin: auto;
}

.project {
  background-color: #fff;
  display: grid;
  margin: 5rem 0 10rem;
  padding: 4rem;
  border-radius: .5rem;

}

.project-description {
  align-self: center;
  max-width: 40rem;
}

@media screen and (min-width:600px) {
 .project {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

  }

  .project:nth-of-type(even) img {
    grid-column: 2;
    grid-row: 1
  }

  .project:nth-of-type(even) .project-description {
    grid-column: 1;
    grid-row: 1
  }
}

.ios-img {
  max-width: 16rem;
}

.macbook-img {
  max-width: 40rem;
  width:100%;

}

.project-wrapper h4 {
  margin-bottom: 0;
}

.project-wrapper h2 {
  margin: 1rem 0;
}

.project-wrapper p {
  margin: 1rem 0 3rem;
}

.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
