/* global */

@font-face {
    font-family: 'riffic-bold';
    src: url('riffic-bold-webfont.woff2') format('woff2'),
         url('riffic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #333333;
}



h1, h2, h3 {
  font-family: 'riffic-bold', sans-serif;
}

h4, h5, h6, p, li, ol, button {
font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
}

h4, h6 {
  font-weight: 500;
  line-height: 1.6;


}

p {
  font-weight: 400;
  line-height: 1.6;
}

h5 {
  font-weight: 400;
}

a {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4158D0;
  /* color: #C5496E; */
  text-decoration: none;
}

b,
strong {
  font-weight: 800;
}

i,
em {
  font-style: italic;
}

.background {
  background-color: #f7f7f7;
  /* background-color: #ebebeb; */
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: #4158D0;
  /* background-color: #C5496E; */
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 5rem;
  align-self: center;
}

.btn:hover {
  background-color: #2D43B4;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: background-color 1s;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* mobile */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
  }

  button {
      font-size: 1.2rem;
  }

  .container {
    width: 95%;
  }
}

/* desktop */

@media screen and (min-width: 768px) {

  h1 {
    font-size: 6.4rem;
    letter-spacing: .25rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3.6rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.8rem;
  }

  button {
      font-size: 1.6rem;
  }
}
