/* global */

@font-face {
    font-family: 'riffic-bold';
    src: url('riffic-bold-webfont.woff2') format('woff2'),
         url('riffic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #333333;
}



h1 {
  font-family: 'sofia', sans-serif;
}


h2, h3, h4, h5, h6, a, p, li, ol, button {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

h4, h6 {
  font-weight: 500;
  line-height: 1.6;
}


p {
  line-height: 1.6;
  font-size: 1.8rem;
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #4158D0;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  border-top: .2rem solid #4158D0;
  padding-top: 5px;
}

b,
strong {
  font-weight: 800;
}

i,
em {
  font-style: italic;
}

.background {
  background-color: #f7f7f7;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: #4158D0;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 1rem 5rem;
  align-self: center;
}

.btn:hover {
  background-color: #2D43B4;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: background-color 1s;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* mobile */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
  }

  button {
      font-size: 1.2rem;
  }

  .container {
    width: 95%;
  }
}

/* desktop */

@media screen and (min-width: 768px) {

  h1 {
    font-size: 10rem;
    letter-spacing: .25rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3, h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.8rem;
  }

  button {
      font-size: 1.6rem;
  }
}
